@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
$blue: #37A1A8;

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #625F5F;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.wrapper {
  color: #2a2a2a;
  @media(min-width:768px) {
    padding: 20px;
  }

  .form {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    @media(min-width:768px) {
      width: 60%;
    }
    @media(min-width:992px) {
      width: 40%;
    }

    &__tabs {
      display: flex;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .tab {
        display: flex;
        flex-wrap: wrap;
        flex: 2;
        align-items: center;
        border-bottom: 5px solid #e5e5e5;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        color: #2a2a2a;
        transition-delay: 0.1s;
        font-size: 18px;
        font-weight: 500;
        background: #f2f2f2;
        padding: 12px 14px;
        color: #939393;
        @media(min-width:768px) {
          font-size: 20px;
        }

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }

        &.active {
          background: #fff;
          color: #2a2a2a;
          border-color: $blue;
          transition: 0.3s;
        }
      }
    }

    &__content {
      padding: 0 20px 20px;

      .form-variant {
        display: none;
        transition: 0.5s;
        @media(min-width:768px) {
          padding: 0 50px 50px;
        }

        label {
          color: $blue;
          padding: 6px 0;
          display: block;
          text-transform: uppercase;
          font-size: 14px;
        }

        .input-field {
          display: block;
          width: calc(100% - 43px);
          height: 40px;
          padding-left: 40px;
          margin-bottom: 6px;
          border: 1px solid $blue;

          &:focus {
            outline: none;
            border-bottom-width: 5px;
          }

          &--submit {
            width: 100%;
            border-radius: 0;
            background: $blue;
            color: #fff;
            border: none;
            margin-top: 12px;
            padding: 0;
          }

          &.input-icon {
            &--name {
              background: url("../images/user.svg") no-repeat 6px 6px;
              background-size: 30px 30px;
            }

            &--email {
              background: url("../images/email.svg") no-repeat 6px 6px;
              background-size: 30px 30px;
            }

            &--password {
              background: url("../images/password.svg") no-repeat 6px 6px;
              background-size: 30px 30px;
            }
          }
        }

        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px white inset;
        }

        &.active {
          display: block;
        }

        .forgot-link {
          display: block;
          margin-top:12px;
          color: $blue;
          text-align: center;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}
